body {
    background-color: #ececec;
    font-family: Arial, sans-serif;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #555;
}

h1, h2, h3, h4 {
    color: #adadad;
    text-align: center;
}

h6 {
    color: #777;
    text-align: center;
    font-size: 0.8em;
}

#overview p {
    color: #333;
    line-height: 1.5;
    text-align: justify;
    padding: 0 20px;
}

#overview a {
    color: #006699;
    text-decoration: none;
}

#overview h3 {
    text-align: center;
    margin-top: 20px;
}

#overview nav {
    text-align: center;
}

#overview nav ul {
    list-style-type: none;
    padding: 0;
}

#overview nav ul li {
    display: inline-block;
    margin-right: 15px;
}

#overview nav ul li a {
    color: #333;
}

#overview nav ul li a:hover {
    color: #555;
}